.skills {
  padding: 0 110px;
  &__h2 {
    font-family: 'Roboto-M';
    font-size: 54px;
    margin-bottom: 36px;
  }
}

.skills__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: start;
  row-gap: 50px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 150px;
  font-size: 18px;
  text-align: center;

  svg {
    width: 70px;
    height: auto;
  }
}

.challange-me {
  cursor: pointer;
  &__hover {
    display: none;
  }
  &:hover {
    .challange-me__hover {
      display: block;
      position: absolute;
      width: 250px;
      top: 0;
      left: 130px;
      text-align: left;
      font-size: 18px;
      font-family: 'Roboto-R';
    }
  }
}
