@use '../../../../../../public/assets/styles/all-styles.scss' as all;

.projects {
  padding: 0 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.project-header {
  font-family: 'Roboto-M';
  font-size: 54px;
}

.project {
  display: flex;
  gap: 64px;

  &__img-wrapper {
    width: 560px;
    height: 370px;
    flex-shrink: 0;
    cursor: pointer;

    &__img {
      width: 100%;
      height: 100%;
    }

    &__overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to bottom,
        rgba(217, 217, 217, 0.0) 5%,
        rgba(29, 10, 121, 0.2) 80%
      );
    }

    &:hover &__overlay {
      background: none;
    }
  }

  &__desc {

    &__h3 {
      font-family: 'Roboto-B';
      font-size: 48px;
      color: all.$color-text;
      margin-top: 0;
      margin-bottom: 16px;
    }

    &__p {
      margin-bottom: 50px;
      font-size: 18px;
    }

    &__btns {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}

.revert {
  flex-direction: row-reverse;
  text-align: right;
}
