<header>
    <div class="menu-bar content">
        <nav class="menu">
            <p class="menu__logo">&lt;MS&gt;</p>
            <ul class="menu__system">
                <li><a href="">{{ 'NAV.WHY_ME' | translate }}</a></li>
                <li><a href="">{{ 'NAV.SKILLS' | translate }}</a></li>
                <li><a href="">{{ 'NAV.PROJECTS' | translate }}</a></li>
                <li><a href="">{{ 'NAV.CONTACT' | translate }}</a></li>
            </ul>
        </nav>

        <div class="language-container">
            <div class="language-container">
                <button (click)="switchLang('de')">DE</button>
                <p>|</p>
                <button (click)="switchLang('en')">EN</button>
            </div>
        </div>
    </div>
</header>