<header>
    <div class = "menu-bar content">
        <nav class = "menu">
            <p class="menu__logo">&lt;MS&gt;</p>
            <ul class="menu__system">
                <li><a href="">Why me</a></li>
                <li><a href="">Skills</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>

        <div class="language-container">
            <button>DE</button>
            <p>|</p>
            <button>EN</button>
        </div>
    </div>
</header>