<header>
    <div class="menu-bar content">
        <nav class="menu">
            <p [routerLink]="['']" fragment="hero" class="menu__logo">&lt;MS&gt;</p>
            <ul class="menu__system">
                <li><a [routerLink]="['']" fragment="why-me">{{ 'NAV.whyMe' | translate }}</a></li>
                <li><a [routerLink]="['']" fragment="skills">{{ 'NAV.skills' | translate }}</a></li>
                <li><a [routerLink]="['']" fragment="projects">{{ 'NAV.projects' | translate }}</a></li>
                <li><a [routerLink]="['']" fragment="contact">{{ 'NAV.contact' | translate }}</a></li>
            </ul>
        </nav>

        <div class="language-container">
            <div class="language-container">
                <button class="language-container__button" 
                (click)="switchLang('de')"
                [ngClass]="getLangClass('de')">DE</button>
                <p>|</p>
                <button class="language-container__button" (click)="switchLang('en')"
                [ngClass]="getLangClass('en')">EN</button>
            </div>
        </div>
    </div>
</header>
