@use '../../../../public/assets/styles/all-styles.scss' as all;

* {
  color: all.$color-text-highlight;
}


header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;

  display: flex;
  justify-content:  center;

  background: linear-gradient(to bottom, rgba(all.$color-background-1, 1) 70%, rgba(all.$color-background-1, 0.2) 100%);

  .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 92px;
    padding: 24px 140px;

    @include all.notebook {
      padding: 24px 32px;
    } 
  }
}

.menu {
  display: flex;
  align-items: center;
  gap:  clamp(16px, 1.5dvw, 18px);

  &__logo {
    font-family: 'Handjet-R';
    font-size: 44px;
    font-weight: 700;
    cursor: pointer;
  }

  &__system {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:  clamp(30px, 1.5dvw, 48px);

    @include all.tablet {
      display: none;
    } 
  }
}

.language-container {
  display: flex;
  align-items: center;
  flex-direction: row;

  @include all.tablet {
      display: none;
    } 

  &__button {
    border: none;
    background: none;
    padding: 6px;
    font-family: 'Roboto-B';
    font-size: clamp(16px, 1.5dvw, 18px);
  
    &--active {
      color: all.$color-text;
    }
  }
}

a {
  text-decoration: none;
  font-family: 'Roboto-M';
  font-size: clamp(16px, 1.5dvw, 22px);
}

a:hover {
  color: all.$color-text;
}

a:active {
  color: all.$color-text;
  text-decoration: underline;
}

