@use '../../../../../../public/assets/styles/all-styles.scss' as all;

section {
  @include all.tablet {
    margin-top: 0px;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding: 0 52px;

  @include all.notebook {
    padding: 0 32px;
  }

  @include all.tablet {
    flex-direction: column-reverse;
    align-items: center;
  }

  &__arrow-link {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    @include all.tablet {
      display: none;
    }

    .icon-default {
      path {
        color: all.$color-text-highlight;
      }
    }

    .icon-hover {
      display: none;
    }

    &:hover {
      .icon-default {
        display: none;
      }
      .icon-hover {
        display: block;

        path {
          color: all.$color-text;
        }
      }
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 50px;
    flex: 1;

    @include all.notebook {
      padding-left: 0;
    }
    @include all.tablet {
      text-align: center;
    }

    &__contactBtn {
      transform: rotate(-90deg);
      width: 175px;
      left: -58px;
      bottom: 20%;
      @include all.tablet {
        display: none;
      }
    }

    &__h1 {
      padding-top: 64px;
      font-size: clamp(24px, 2.5dvw, 54px);
      font-family: 'Roboto-M';
      color: all.$color-text;
      margin: 0;
      @include all.tablet {
        padding-top: 8px;
      }
    }

    &__p {
      font-size: clamp(36px, 4vw, 72px);
      font-family: 'Roboto-B';
      margin-bottom: 8px;
    }
  }

  &__image {
    width: clamp(297px, 40vw, 539px);
    height: clamp(305px, 40vw, 554px);
    object-fit: cover;
  }
}
