// Color-Theme-3
// $color-background-1: #0f0e15;
// $color-background-2: #211E30;
// $color-text: #FFFFFF;
// $color-text-highlight: #A0AEF4;
// $color-text-btn-primary: #211E30;
// $color-btn-disabled: #BEBEBE;

// Color-Theme-2
// $color-background-1: #18171f;
// $color-background-2: #322F3F;
// $color-text: #9CF8FF;
// $color-text-highlight: #F5D166;
// $color-text-btn-primary: #322F3F;
// $color-btn-disabled: #BEBEBE;

// Color-Theme-1
$color-background-1: #0B042D;
$color-background-2: #1F0B80;
$color-text: #02F4BF;
$color-text-highlight: #E15544;
$color-text-btn-primary: #0B042D;
$color-btn-disabled: #BEBEBE;