/* Roboto-regular - latin */
@font-face {
  font-family: 'Roboto-R';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}
/* Roboto-500 - medium */
@font-face {
  font-family: 'Roboto-M';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/RobotoMono-Medium.ttf') format('truetype');
}
/* Roboto-700 - bold */
@font-face {
  font-family: 'Roboto-B';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/RobotoMono-Bold.ttf') format('truetype');
}
/* Handjet-400 - regular */
@font-face {
  font-family: 'Handjet-R';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Handjet-Regular.ttf') format('truetype');
}

