<section>
    <div class="content">
        <img src="" alt="">
        <div>
            <h2>Why me</h2>
            <p>Write some information about yourself that is IT related. Why are you passionate about coding? Highlight
                your motivation for professional growth and continuous learning. Emphasise your strong problem-solving
                skills and passion for coding.
            </p>
            <div>
                <h3> I am</h3>
            </div>
        </div>
    </div>
</section>