@use '../../../../../../public/assets/styles/all-styles.scss' as all;

// * {
//   border: red solid 1px;
// }

.WM {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 105px;

  @include all.desktop {
    padding: 0 60px;
  }

  @include all.notebook {
    padding: 0 32px;
  }

  &__image {
    width: 488px;
    height: 452px;
    object-fit: cover;
    align-self: center;

    @include all.desktop {
      width: 439px;
      height: 407px;
    }

    @include all.notebook {
      width: clamp(263px, 30dvw, 329px);
      height: clamp(244px, 30dvw, 305px);
    }

    @include all.tablet {
      display: none;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    padding-left: 24px;

    @include all.desktop {
      padding-left: 36px;
    }
    @include all.tablet {
      padding-left: 0;
    }

    &__h2 {
      text-align: right;
      font-family: 'Roboto-M';
      font-size: clamp(32px, 4dvw, 54px);

      @include all.tablet {
        text-align: center;
        width: 100%;
      }
    }

    &__p {
      text-align: right;
      font-family: 'Roboto-R';
      font-size: 16px;

      @include all.tablet {
        text-align: center;
        margin-bottom: 60px;
      }
    }

    &__container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 8px;

      @include all.desktop {
        flex-direction: column;
        align-items: flex-end;
      }

      &__h3 {
        font-family: 'Roboto-B';
        font-size: clamp(18px, 2dvw, 48px);
        width: calc(100% - 390px);
        text-align: center;
        padding-right: 25px;

        @include all.desktop {
          margin-top: 16px;
          margin-right: 0px;
          width: 390px;
          text-align: left;
        }
        @include all.tablet {
          width: 100%;
          text-align: center;
          padding-right: 0;
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;

        width: 390px;
        height: 100%;

        @include all.tablet {
          align-items: center;
          justify-content: center;
          width: 100%;
        }

        &__p {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          width: 180px;

          @include all.tablet {
            align-items: center;
            text-align: left;
            gap: 12px;
            width: fit-content;
            margin-bottom: 20px;
          }

          svg {
            height: 50px;
            flex-shrink: 0;

            @include all.tablet {
              display: flex;
              height: 45px;
            }
          }

          .icon-hover {
            display: none;
          }

          &:hover {
            .icon-hover {
              display: block;
            }

            .icon-default {
              display: none;
            }
          }
        }
        &__arrow1 {
          position: absolute;
          top: 38%;
          left: -8%;
          path {
            color: all.$color-text-highlight;
          }

          @include all.tablet {
            top: -80px;
            left: calc(50% - 130px);
          }
        }

        &__arrow2 {
          position: absolute;
          top: 68%;
          left: 54%;

          @include all.tablet {
            transform: rotate(25deg) scaleY(-1);
            top: 88%;
            left: calc(50% + 90px);
          }

          path {
            color: all.$color-text-highlight;
          }
        }

        &__arrow3 {
          position: absolute;
          top: 72%;
          left: 88%;
          path {
            color: all.$color-text-highlight;
          }
          @include all.tablet {
            display: none;
          }
        }
      }
    }

    &__button {
      margin-top: 10px;

      @include all.tablet {
        align-self: center;
      }
    }
  }
}

.selfEnd {
  align-self: flex-end;
  @include all.tablet {
    align-self: center;
  }
}

.change-pos {
  bottom: 15px;
}
