@use '../../../../../../public/assets/styles/all-styles.scss' as all;

.contact {
  padding: 0 110px;
  width: 100%;
  margin-bottom: 80px;

  &__h2 {
    font-family: 'Roboto-M';
    font-size: 54px;
  }
}

.input-wrapper {
  .input-field {
    width: 100%;
    padding-right: 50px;
  }

  .input-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 40px;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.fullHeight {
  height: 100%;
}

.custom-checkbox {
  margin-top: 32px;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 2px;
  cursor: pointer;

  input {
    display: none;
  }

  .checkmark {
    width: 100%;
    height: 100%;
    border: 1px solid all.$color-text-highlight;
    display: block;

    svg {
      position: absolute;
      bottom: 2px;
      right: 2px;
      path {
        color: all.$color-text-highlight;
      }
    }
  }

  &:hover {
    background: all.$color-text;
  }
}

p {
  margin-bottom: 32px;
  font-family: 'Roboto-R';
  font-size: 18px;
}

a {
  display: flex;
  font-size: 20px;
  font-family: 'Roboto-M';
  align-items: center;
  column-gap: 16px;
  margin-bottom: 16px;

  svg path {
    color: all.$color-text-highlight;
  }

  &:hover {
    svg path {
      color: all.$color-text;
    }
  }

  &:active {
    text-decoration: underline;
  }
}

.form-submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}
