@use '../../../../../public/assets/styles/all-styles.scss' as all;

p {
  font-size: 18px;
  font-family: 'Roboto-R';
  margin-bottom: 24px;
}

h3 {
    margin-top: 24px;
}

li {
  font-size: 18px;
  font-family: 'Roboto-R';
}

.imprint {
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 64px;
}

span {
  color: all.$color-text-highlight;
}

li {
    list-style-type: disc;
    list-style-position: inside;
}