@use '../public/assets/styles/all-styles.scss' as all;

/* You can add global styles to this file, and also import other style files */
* {
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: all.$color-text;
  font-size: inherit;
  font-family: 'Roboto-R';
}

.content {
  height: fit-content;
  width: 100%;
  max-width: 1440px;
}

body {
  background: linear-gradient(
    180deg,
    all.$color-background-1 0%,
    all.$color-background-2 25%,
    all.$color-background-1 50%,
    all.$color-background-2 75%,
    all.$color-background-1 95%
  );
}

section {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  @include all.notebook {
    margin-top: 80px;
  }
}

h1 {
  color: all.$color-text-highlight;
  font-size: 54px;
  font-family: 'Roboto-M';
  margin-bottom: 64px;
  margin-top: 64px;
}

h2 {
  color: all.$color-text-highlight;
  font-size: 24px;
  font-family: 'Roboto-B';
  margin-bottom: 24px;
}

h3 {
  color: all.$color-text-highlight;
  font-size: 19px;
  font-family: 'Roboto-B';
}

button {
  font-family: 'Roboto-M';
  font-size: 18px;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 0;
  border: none;

  @include all.notebook {
    padding: 12px 20px;
    font-family: 'Roboto-R';
    font-size: 16px;
  }
}

.button--primary {
  color: all.$color-text-btn-primary;
  background-color: all.$color-btn;

  &:hover {
    color: all.$color-text-highlight;
    font-family: 'Roboto-R';
  }

  &:active {
    color: all.$color-text-highlight;
    font-family: 'Roboto-B';
  }

  &:disabled {
    color: white;
    font-family: 'Roboto-B';
    background-color: all.$color-btn-disabled;
  }
}

.button--secondary {
  background: none;
  border: solid 1px all.$color-btn;
  color: all.$color-text-highlight;

  &:hover {
    color: all.$color-text;
  }

  &:active {
    color: all.$color-text-highlight;
    font-family: 'Roboto-B';
    border: solid 1px all.$color-text-highlight;
  }

  &:disabled {
    color: all.$color-btn-disabled;
    font-family: 'Roboto-M';
    border: solid 1px all.$color-btn-disabled;
  }
}

.input-field {
  padding: 15px 15px;
  background: none;
  border: solid 1px all.$color-btn;
}
