@use '../public/assets/styles/all-styles.scss' as all;

/* You can add global styles to this file, and also import other style files */
* {
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: all.$color-text;
  font-size: inherit;
  font-family: 'Roboto-R';
}

.content {
  height: fit-content;
  width: 100%;
  max-width: 1440px;
}

body {
  background: linear-gradient(180deg, rgba(19, 7, 78, 1) 0%, rgba(29, 10, 121, 0.95) 100%);
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

section {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: all.$color-text-highlight;
  font-size: 54px;
  font-family: 'Roboto-M';
  margin-bottom: 64px;
  margin-top: 64px;
}

h2 {
  color: all.$color-text-highlight;
  font-size: 24px;
  font-family: 'Roboto-B';
  margin-bottom: 24px;
}

h3 {
  color: all.$color-text-highlight;
  font-size: 19px;
  font-family: 'Roboto-B';
  margin-top: 24px;
}
